# Allow C files
*.c linguist-detectable=true
*.h linguist-detectable=true

# Allow HTML files
*.html linguist-detectable=C

# Convert other file types to C
*.pwn linguist-language=C
*.amx linguist-language=C
*.cpp linguist-language=C
*.cs linguist-language=C
*.asm linguist-vendored
*.s linguist-language=C

# Catch-all: Exclude everything else
* linguist-detectable=false
