# Allow C files
*.c linguist-detectable=C
*.h linguist-detectable=C

# Allow HTML files
*.html linguist-detectable=HTML

# Convert other file types to C
*.pwn linguist-vendored
*.amx linguist-vendored
*.cpp linguist-vendored
*.cs linguist-vendored
*.asm linguist-vendored
*.s linguist-vendored

# Catch-all: Exclude everything else
* linguist-detectable=false
